//
// %%INTRO%%
//
// Copyright (C) %%COPYRIGHT%%
//
// %%LICENSE%%
//
//----------------------------------------------------------------------
/*!\file    %%FILE%%
 *
 * \author  %%AUTHOR%%
 *
 * \date    %%DATE%%
 *
 * \brief Contains m%%NAME%%
 *
 * \b m%%NAME%%
 *
 * %%DESCRIPTION%%
 *
 */
//----------------------------------------------------------------------
#ifndef %%SENTINEL%%
#define %%SENTINEL%%

#include "plugins/structure/tSenseControlModule.h"

//----------------------------------------------------------------------
// External includes (system with <>, local with "")
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Internal includes with ""
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Namespace declaration
//----------------------------------------------------------------------
%%OPEN_NAMESPACE%%

//----------------------------------------------------------------------
// Forward declarations / typedefs / enums
//----------------------------------------------------------------------

//----------------------------------------------------------------------
// Class declaration
//----------------------------------------------------------------------
//! %%SHORT_DESCRIPTION%%
/*!
 * %%DESCRIPTION%%
 */
class m%%NAME%% : public structure::tSenseControlModule
{

//----------------------------------------------------------------------
// Ports (These are the only variables that may be declared public)
//----------------------------------------------------------------------
public:

  tStaticParameter<double> static_parameter_1;   Example for a static parameter. Replace or delete it!
  
  tParameter<double> par_parameter_1;   Example for a runtime parameter named "Parameter 1. Replace or delete it!

  tSensorInput<double> si_signal_1;   Example for sensor input ports named "Signal 1" and "Signal 2". Replace or delete them!
  tSensorInput<double> si_signal_2;

  tSensorOutput<double> so_signal_1;   Examples for a sensor output port named "Signal 1". Replace or delete them!

  tControllerInput<double> ci_signal_1;   Example for controller input ports named "Signal 1" and "Signal 2". Replace or delete them!
  tControllerInput<double> ci_signal_2;

  tControllerOutput<double> co_signal_1;   Examples for a controller output port named "Signal 1". Replace or delete them!

//----------------------------------------------------------------------
// Public methods and typedefs
//----------------------------------------------------------------------
public:

  m%%NAME%%(core::tFrameworkElement *parent, const std::string &name = "%%NAME%%");

//----------------------------------------------------------------------
// Private fields and methods
//----------------------------------------------------------------------
private:

  Here is the right place for your variables. Replace this line by your declarations!

  /*! Destructor
   *
   * The destructor of modules is declared private to avoid accidental deletion. Deleting
   * modules is already handled by the framework.
   */
  ~m%%NAME%%();

  virtual void OnStaticParameterChange() override;   Might be needed to process static parameters. Delete otherwise!

  virtual void OnParameterChange() override;   Might be needed to react to changes in parameters independent from Update() calls. Delete otherwise!

  virtual void Sense() override;

  virtual void Control() override;

};

//----------------------------------------------------------------------
// End of namespace declaration
//----------------------------------------------------------------------
%%CLOSE_NAMESPACE%%
%%INCLUDE_HPP%%

#endif
